import(httr, XML, stringr, MASS, R.utils, data.table)

importFrom("bamsignals", bamCount)
importFrom("Biostrings", nucleotideSubstitutionMatrix, pairwiseAlignment, subseq)
importFrom("GenomicRanges", GRanges)
importFrom("GenomicTools", importGFF3)
importFrom("graphics", axis, lines, plot, polygon, rect, text)
importFrom("grDevices", colorRampPalette, dev.off, png)
importFrom("IRanges", IRanges)
importFrom("RCurl", getURL, getCurlHandle)
importFrom("Rsamtools", scanFa)
importFrom("seqinr", read.fasta, comp)
importFrom("stats", loess, median, predict, quantile)
importFrom("utils", download.file, read.csv, read.table, setTxtProgressBar, txtProgressBar, write.table, sessionInfo)

export(importBed, importFA, importFQ, blastSeq,exportBed, exportFA, findSpecies, getEnsgInfo, getGeneLocation, getGeneSeq,
       getSequenceFromNCBI, importXML,
       importBlastTab, intersectXMLAnnot,
       subDose, subPhased, subGprobs, targetScan, tableSpecies, species, getAnnotation,
       plotHit, getFastaFromBed)

S3method(print,fa)
S3method(summary,fa)
