import(httr, XML, stringr, MASS, R.utils, data.table)

importFrom(seqinr, comp)
importFrom(seqinr, read.fasta)
importFrom(bamsignals, bamCount)
importFrom(Biostrings, nucleotideSubstitutionMatrix)
importFrom(Biostrings, pairwiseAlignment)
importFrom(GenomicRanges, GRanges)
importFrom(IRanges, IRanges)


export(importFA, blastSeq, getEnsgInfo, getGeneLocation, getGeneSeq, importXML,
       importBlastTab, intersectXMLAnnot,
       subDose, subPhased, subGprobs, targetScan, tableSpecies, species, getAnnotation,
       plotHit, getFastaFromBed)

S3method(print,fa)
S3method(summary,fa)
